<ng-container *ngIf="viewModel$ | async as viewModel">
  <div class="row mb-4">
    <div class="col-12 col-sm mb-3 mb-0 min-w-fit">
      <h4 class="mb-2">{{ viewModel.portfolio.name }}</h4>
      <p class="mb-0 text-muted portfolio-id">Portfolio #{{ viewModel.portfolio.id }}</p>
    </div>
    <div class="col-12 col-sm text-sm-right max-w-fit">
      <button type="button" class="btn btn-primary font-weight-bold" (click)="createLine()">Add line</button>
    </div>
  </div>

  <section>
    <!-- <p class="mb-3 lines-title">Lines</p> -->

    <div class="row">
      <div class="col-12 col-md-6 mb-4" *ngFor="let line of viewModel.lines">
        <div class="card list-group-item list-group-item-action clearfix line-card">
          <div class="row align-items-center">
            <div class="col">
              <p class="text-truncate mb-0">{{ line.coin.name }}</p>
              <p class="mb-0">{{ line.coin.acronym }}</p>
            </div>
            <div class="col text-right max-w-fit">
              <p class="mb-0 coin-amount">{{ line.amount }}</p>
              <p class="mb-0 amount-label text-muted">{{ 'amount' | uppercase }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="viewModel.lines.length === 0">
      <div class="col-12">
        <p class="text-muted">
          This portfolio has no lines
        </p>
      </div>
    </div>
  </section>
</ng-container>

<form [formGroup]="lineForm" (ngSubmit)="createLine()">
  <div class="form-group" *ngIf="lineForm.controls.currency as currency">
    <label for="currency">Currency</label>
    <select class="form-control" formControlName="currency" id="currency" placeholder="Select a currency">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <div *ngIf="currency.invalid && (currency.dirty || currency.touched) && currency.errors?.required">
      <small class="ml-2 text-danger">Amount is required</small>
    </div>
  </div>
  <div class="form-group" *ngIf="lineForm.controls.amount as amount">
    <label for="name">Amount <span placement="right" ngbTooltip="Required field">*</span></label>
    <input type="number" formControlName="amount" class="form-control" id="name" placeholder="Enter the amount">
    <div *ngIf="amount.invalid && (amount.dirty || amount.touched)">
      <ng-container *ngIf="amount.errors?.required">
        <small class="ml-2 text-danger">Amount is required</small>
      </ng-container>
      <ng-container *ngIf="amount.errors?.min">
        <small class="ml-2 text-danger">The minimum amount is 0.01</small>
      </ng-container>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-success min-w-btn mt-2" [disabled]="!lineForm.valid">
      <ng-container *ngIf="!creating">
        Create
      </ng-container>
      <ng-container *ngIf="creating">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Creating...
      </ng-container>
    </button>
  </div>
</form>