<div class="row mb-5">
  <div class="col-12 col-sm mb-3 mb-0">
    <h3 class="mb-0">Portfolio lines</h3>
  </div>
  <div class="col-12 col-sm text-sm-right">
    <button type="button" class="btn btn-primary font-weight-bold">Add line</button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="actions-column">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">e</th>
    <td class="actions-column">
      <button type="button" class="btn btn-info pt-1 mr-2" [title]="'Edit line'">
        <i class="fas fa-pen icon"></i>
      </button>
      <button type="button" class="btn btn-danger pt-1" [title]="'Delete line'">
        <i class="far fa-trash-alt icon"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
