<div class="row mb-5">
  <div class="col-12 col-sm mb-3 mb-0">
    <h3 class="mb-0">Portfolios</h3>
  </div>
  <div class="col-12 col-sm text-sm-right">
    <button type="button" class="btn btn-primary font-weight-bold" (click)="createPortfolio()">Add portfolio</button>
  </div>
</div>


<div class="row">
  <div class="col-12 col-md-6" *ngFor="let portfolio of portfolios$ | async">
    <a href="javascript:;" class="card list-group-item list-group-item-action clearfix portfolio-card" [routerLink]="['/portfolios/', portfolio.id]">
      <div class="d-flex justify-content-between align-items-center portfolio-header">
        <p class="list-group-item-heading text-truncate portfolio-name mb-0">{{ portfolio.name }}</p>
        <label class="portfolio-id ml-3 mb-0">#{{ portfolio.id }}</label>
      </div>
      <div class="row align-items-center">
        <div class="col-12">
          <p class="mb-0 total-lines">
            Portfolio lines: {{ portfolio.lines.length }}
          </p>
        </div>
      </div>
    </a>
    <div class="col text-right action-buttons">
      <button type="button" class="btn btn-outline-info btn-sm" (click)="editPortfolio(portfolio)">
        <i class="fas fa-pen icon"></i>
      </button>
      <button type="button" class="btn btn-outline-danger btn-sm ml-2" (click)="deletePortfolio(portfolio)">
        <i class="far fa-trash-alt icon"></i>
      </button>
    </div>
  </div>
</div>