<div class="row mb-5">
  <div class="col-12 col-sm mb-3 mb-0">
    <h3 class="mb-0">Currencies</h3>
  </div>
  <div class="col-12 col-sm text-sm-right">
    <button type="button" class="btn btn-primary font-weight-bold" (click)="createCurrency()">Add currency</button>
  </div>
</div>

<section>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Acronym</th>
      <th scope="col">Name</th>
      <th scope="col" class="actions-column">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currency of currencies$ | async">
      <th scope="row">{{ currency.id }}</th>
      <td> {{ currency.acronym }} </td>
      <td>
        {{ currency.name }}
      </td>
      <td class="actions-column">
        <button type="button" class="btn btn-info pt-1 mr-2" [title]="'Edit ' + currency.name" (click)="editCurrency(currency)">
          <i class="fas fa-pen icon"></i>
        </button>
        <button type="button" class="btn btn-danger pt-1" [title]="'Delete ' + currency.name" (click)="deleteCurrency(currency)">
          <i class="far fa-trash-alt icon"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</section>

<div *ngIf="initialLoading" class="d-flex justify-content-center my-5">
  <div class="spinner-border text-primary">
    <span class="sr-only">Loading...</span>
  </div>
</div>